.host{
  width: 25%;
    font-size: 18px;
    padding:10px;
    display:flex;
    justify-content: flex-end;
    align-items: center;
    p{
      padding:10px;
      color:#FF6060;
    }
    img{
      width: 64px;
      height: 64px;
      border-radius:50%;
    }
  }

  @media screen and (max-width: 640px){

    .host{
        font-size: 18px;
        padding:10px;
        display:flex;
        justify-content: space-around;
        align-items: center;
        p{
          padding:10px;
          font-size:12px;
        }
        img{
          width: 32px;
          height: 32px;
          border-radius:50%;
        }
      }
  }
