.Infos{
    width: 80%;
    height: auto;
    display:flex;
    justify-content: space-between;
    color:#FF6060;
    .Titre{
      padding:10px;
      font-size:26px;
      p{

      }
    }
    .host{
      font-size: 18px;
      padding:10px;
      display:flex;
      justify-content: space-around;
      align-items: center;
      p{
        padding:10px;
      }
      img{
        width: 64px;
        height: 64px;
        border-radius:50%;
      }
    }
  }
  @media screen and (max-width: 830px){
    .Infos{
      flex-direction: column;
      .Titre{
        font-size: 16px;
      }
      .host{
        font-size: 18px;
        padding:10px;
        display:flex;
        justify-content: space-around;
        align-items: center;
        p{
          padding:10px;
        }
        img{
          width: 64px;
          height: 64px;
          border-radius:50%;
        }
      }
    } 
  }