.tagAndRate{
    width: 100%;
    display:flex;
    justify-content: space-between;
    align-items: center;
    .tags{
      width: 70%;
      display:flex;
      .tag{
        margin:10px;
        width: 140px;
        height: auto;
        padding:5px;
        border-radius:10px;
        background:#FF6060;
        color:white;
        display:flex;
        justify-content: center;
        align-items: center;
      }
    }
    .rate{
      padding:20px;
    }
}