.tags{
  display:flex;
  align-items: flex-start;
  flex-wrap: wrap;
  width: 60%;
  .tag{
    margin:0px;
    width: 25%;
    height:auto;
    padding:5px;
    border-radius:10px;
    background:#FF6060;
    color:white;
    display:flex;
    justify-content: center;
    margin:5px;
    font-size:14px;
  }
}

@media screen and (max-width: 640px){
  .tagAndRate{
      flex-direction: column;  
      .tags{
        width: 100%;
        flex-wrap: wrap;
        .tag{
          margin:5px;
          font-size:10px;
        }
      }
  }
}