// container des annonces de location
.location{
    width: 100%;
    display:flex;
    justify-content: center;
    align-items: center;
    padding-top:50px;
    padding-bottom:50px;
    .cardsContainer{
      width: 70%;
      height: auto;
      background:#F6F6F6;
      border-radius:25px;
      display:flex;
      justify-content: center;
      flex-wrap:wrap; 
      a{
        width: 340px;
        height: auto;
        text-decoration:none;
        margin:10px auto ;
        padding:5px;
        .card{
          cursor: pointer;
          margin:20px auto;
          border-radius:20px;
          width: 100%;
          height: 340px;
          background:linear-gradient(180deg, #FF6060 20%, #9c3b3b 100%);
          background-size: cover;
          display:flex;
          align-items: flex-end;
          h1{
            width: 100%;
            font-size: 18px;
            color:white;
            padding:10px;
          }
        }
        .card:hover{
          transform:scale(1.05);
        }
      }   
    }
  }
  @media screen and (max-width: 640px) {
    .location{
      padding-top:15px;
      .cardsContainer{
        background:transparent;
        width: 100%;
        a{
          margin:0;
          width: 90%;
          height: 255px;
          .card{
            margin:0;
            width: 100%;
            height: 255px;
            h1{
              width: 50%;
              text-align:left;
            }
          }
        }
      }
    }
  }