.App-header{
    width: 80%;
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin:10px auto;
    .App-logo{
      width:210px;
      height: 68px;
      padding:10px;
    }
    .liensHeader{
      color:#FF6060;
      width: 309px;
      height: 57px;
      font-size: 24px;
      display:flex;
      align-items: center;
      justify-content: space-around;
      a{
        cursor:pointer;
        text-decoration:none;
        color:#FF6060;
      }
      .active{
        text-decoration:underline;
      }
    }
  }
  @media screen and (max-width: 640px) {
    .App-header{
      .App-logo{
        width: 145px;
        height: auto;
      }
      .liensHeader{
        width: 209px;
        font-size:12px;
        font-weight: bolder;
        a{
          text-align:right;
        }
      }
    }
  }