// footer de l'app
.App-footer{
    background:black;
    width: 100%;
    height: auto;
    .blocFooter{
      display:flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .App-logo-footer{
        padding-top:66px;
        width: 122px;
        height: 40px;
        color:white;
      }
      p{
        color:white;
        font-size: 24px;
      }
    }
  }
  @media screen and (min-width: 360px) and (max-width: 640px) {
    .App-footer{
      .blocFooter{
        p{
          text-align: center;
          width: 133.594px;
          height: 46px;
          font-size: 12px;
        }
      }
  }
}
  