// header de l'app
.App-header{
  display:flex;
  justify-content: space-around;
  align-items: center;
  padding:25px;
  .App-logo{
    width:210px;
    height: 68px;
  }
  .liensHeader{
    color:#FF6060;
    width: 309px;
    height: 57px;
    font-size: 24px;
    display:flex;
    align-items: center;
    justify-content: space-around;
    a{
      cursor:pointer;
    }
  }
}
// bandeau de l'app
.App-bandeau{
  width: 100%;
  height: 223px;
  display:flex;
  align-items: center;
  justify-content: center;
  position:relative;
  img{
    width: 70%;
    height: 100%;
    object-fit: cover;
    border-radius:15px;
    filter:brightness(80%);
  }
  p{
    position:absolute;
    font-size: 40px;
    color:#FFF;
  }
}
// container des annonces de location
.location{
  width: 100%;
  display:flex;
  justify-content: center;
  align-items: center;
  padding-top:50px;
  padding-bottom:50px;
  .location-Container{
    width: 70%;
    height: auto;
    background:#F6F6F6;
    border-radius:25px;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    .vignette{
      margin:20px auto;
      border-radius:20px;
      width: 340px;
      height: 340px;
      background:linear-gradient(180deg, #FF6060 20%, #9c3b3b 100%);
      display:flex;
      align-items: flex-end;
      p{
        width: 80px;
        font-size: 18px;
        color:white;
        padding:10px;
      }
    }
  }
}
// footer de l'app
.App-footer{
  background:black;
  width: 100%;
  height: auto;
  // penser à modifier la position du footer

  .blocFooter{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .App-logo-footer{
      padding-top:66px;
      width: 122px;
      height: 40px;
      color:white;
    }
    p{
      color:white;
      font-size: 24px;
    }
  }
}