*{
  max-width: 1920px;
}

// a propos
.nav-apropos {
  width: 80%;
  margin: 10px auto;
  padding:35px;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .collapse-container{
    width: 90%;
    margin:10px;
    
  }
}

// page erreur 404
.error404{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color:#FF6060;
  h1{
    font-size: 288px;
  }
  p{
    font-size: 36px;
    margin-top:0;
  }
  a{
    font-size: 18px;
    color: #FF6060;
    margin-bottom:139px;
  }
}
// Locations
.locationContainer{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  .hostContainer{
    width: 80%;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .ContainerCollaps{
    margin-top:20px;
    width: 80%;
    display:flex;
    justify-content: space-around;
    align-items: flex-start;
    .collapse-container{
      width: 100%;

    }
  }
}

@media screen and (max-width: 640px){
  .locationContainer{
    .ContainerCollaps{
      flex-wrap: wrap;
    }
    .hostContainer{
      justify-content: space-between;
      .Infos{
        width: 100%;
      }
      .host{
        order:4;
        justify-self: flex-end;
      }
      .tags{
        width: 100%;
        .tag{
          font-size: 12px;
        }
      }
      .rateContainer{
        width: 50%;
        justify-content: flex-start;
        svg{
          width: 100%;
        }
      }
    }
  } 
}
